.App {
  height: 500px;
  width: 600px;
  background-color: #d3d3d3;
}
.taskAppTitle {
  font-size: 48px;
  color: gray;
  margin: auto;
  text-align: center;
}
/* AddTask div */
.addTasks {
  height: 75px;
  width: 500px;
  background-color: white;
  color: gray;
  border-bottom: 1px solid gray;
  margin: auto;
}
.addItem {
  display: inline-block;
  padding: 5px;
}
/* end AddTaks div */

/* TaskList div */
.tasklist {
  height: auto;
  width: 500px;
  background-color: white;
  color: black;
  list-style-type: none;
  border-bottom: 1px solid gray;
  margin: auto;
}
.cirIcon {
  padding: 20px;
  display: inline-block;
  color: gray;
}
.completeIcon {
  padding: 20px;
  display: inline-block;
  color: gray;
}

.taskItem {
  display: inline-block;
}
/* end TaskList div */

/* TaskFilter div */
.taskFilter {
  height: 50px;
  width: 500px;
  background-color: white;
  color: gray;
  margin: auto;
  vertical-align: top;
}

.itemsLeft {
  color: gray;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.filterList {
  display: inline-block;
  vertical-align: top;
}

.filterType {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
/* end TaskFilter div */
